%header#ABdev_main_header.clearfix.transparent
  #logo_menu_bar
    .container
      #logo
        %a{:href => ""}
          %img#main_logo{:src => "/assets/logo.png"}/
      %nav
        %ul#main_menu.sf-js-enabled
          %li#nav-menu-item-4493.main-menu-item.menu-first.menu-item-depth-0.menu-item.menu-item-type-post_type.menu-item-object-page.current-menu-ancestor.current-menu-parent.current_page_parent.current_page_ancestor.menu-item-has-children.has_children.normal_menu_item
            %a{:href => "#"} Home
          %li#nav-menu-item-1716.main-menu-item.menu-item-depth-0.menu-item.menu-item-type-post_type.menu-item-object-page.menu-item-has-children.has_children.normal_menu_item
            %a.menu-link.main-menu-link.sf-with-ul{href: '#service'}
              %span Services
          %li#nav-menu-item-5235.main-menu-item.menu-item-depth-0.menu-item.menu-item-type-post_type.menu-item-object-page.normal_menu_item
            %a.menu-link.main-menu-link{:href => "#team"}
              %span Team
          %li#nav-menu-item-5235.main-menu-item.menu-item-depth-0.menu-item.menu-item-type-post_type.menu-item-object-page.normal_menu_item
            %a.menu-link.main-menu-link{:href => "#project"}
              %span Projects
          %li#nav-menu-item-5235.main-menu-item.menu-item-depth-0.menu-item.menu-item-type-post_type.menu-item-object-page.normal_menu_item
            %a.menu-link.main-menu-link{:href => "#clients"}
              %span Clients
          %li#nav-menu-item-5235.main-menu-item.menu-item-depth-0.menu-item.menu-item-type-post_type.menu-item-object-page.normal_menu_item
            %a.menu-link.main-menu-link{:href => "#contact"}
              %span Contact

%section#ABdev_main_slider{:style => "height: auto;"}
  #slider1_container{:style => "position: relative; top: 0px; left: 0px;height: 300px;"}
    %div#slide-content{:style => "cursor: move; position: absolute; overflow: hidden; left: 0px; top: 0px; height: 300px;", :u => "slides"}
      %div
        %img{:src => "/assets/2.jpg"}/
      %div
        %img{:src => "/assets/3.jpg"}/
      %div
        %img{:src => "/assets/4.jpg"}/

%section.dnd_section_dd.aligncenter{:style => "background-color:#ffffff;"}
  .dnd_section_content
    .dnd_container
      .dnd_column_dd_span1
      .dnd_column_dd_span10.dnd-animo{"data-animation" => "fadeIn", "data-delay" => "200", "data-duration" => "1000", :style => "visibility: visible;"}
        %h3.aligncenter
          %span WELCOME. WE ARE AWESOME
        %span.clear{:style => "height:19px;display:block;"}
        %p We understand the process of building websites and mobile applications through our expertise and produce award winning solutions that become popular and make our clients achieve their goals and values.
        %span.clear{:style => "height:13px;display:block;"}
        / %a.dnd-button.dnd-button_light.dnd-button_rounded.dnd-button_large{:href => "/?page_id=1872#", :target => "_self"} LEARN MORE
      .dnd_column_dd_span1

/ ## Service Sections ##
%section.dnd_section_dd.big_header.section_with_header#service{:style => "background-color:#f5f6f8;"}
  %header
    .dnd_container
      %h3 OUR SERVICES
  .dnd_section_content
    .row-services
      .col-sm-3.text-center.home-service
        %a{:href => "#"}
          %img{:alt => "iPhone・Androidモバイルアプリ開発", :src => "/assets/s4.jpg"}/
        %p.annotation iPhone・Androidモバイルアプリ開発
      / /.col
      .col-sm-3.text-center.home-service
        %a{:href => "#"}
          %img{:alt => "Website Design & SEO Service", :src => "/assets/s2.jpg"}/
        %p.annotation Website Design & SEO Service
      / /.col
      .col-sm-3.text-center.home-service
        %a{:href => "#"}
          %img{:alt => "S.M.A.C Development", :src => "/assets/s3.jpg"}/
        %p.annotation S.M.A.C Development
      / /.col
      .col-sm-3.text-center.home-service
        %a{:href => "#"}
          %img{:alt => "SMART HOME", :src => "/assets/s1.jpg"}/
        %p.annotation SMART HOME
      / /.col

%section.dnd_section_dd.big_header.section_with_header#team{:style => "background-color:#ffffff;"}
  %header
    .dnd_container
      %h3 CREATIVE TEAM
      %p We understand the process of building websites and mobile applications through our expertise and produce award winning solutions that become popular and make our clients achieve their goals and values.
  .dnd_section_content
    .dnd_container
      .dnd_column_dd_span3.dnd-animo{"data-animation" => "fadeInLeft", "data-delay" => "200", "data-duration" => "1000", :style => "visibility: visible;"}
        .dnd_team_member
          .dnd_overlayed
            %img{:alt => "WILLIAM HARPER", :src => "/assets/avatar/a1.jpg"}/
            .dnd_overlay
          %a.dnd_team_member_link{:href => ""}
            %span.dnd_team_member_name NGUYEN THAI HA
            %span.dnd_team_member_position CEO

      .dnd_column_dd_span3.dnd-animo{"data-animation" => "fadeInLeft", "data-delay" => "600", "data-duration" => "1000", :style => "visibility: visible;"}
        .dnd_team_member
          .dnd_overlayed
            %img{:alt => "SARA JONES", :src => "/assets/avatar/a2.jpg"}/
            .dnd_overlay
          %a.dnd_team_member_link{:href => ""}
            %span.dnd_team_member_name NGUYEN TRUONG GIANG
            %span.dnd_team_member_position CFO

      .dnd_column_dd_span3.dnd-animo{"data-animation" => "fadeInLeft", "data-delay" => "1000", "data-duration" => "1000", :style => "visibility: visible;"}
        .dnd_team_member
          .dnd_overlayed
            %img{:alt => "DAVE SERGIO", :src => "/assets/avatar/a3.jpg"}/
            .dnd_overlay
          %a.dnd_team_member_link.dnd_team_member_modal_link{:href => ""}
            %span.dnd_team_member_name TRUONG VIET HOANG
            %span.dnd_team_member_position Hanoi Software Development Director

      .dnd_column_dd_span3.dnd-animo{"data-animation" => "fadeInLeft", "data-delay" => "1400", "data-duration" => "1000", :style => "visibility: visible;"}
        .dnd_team_member
          .dnd_overlayed
            %img{:alt => "ANDREA SMITH", :src => "/assets/avatar/a6.jpg"}/
            .dnd_overlay
          %a.dnd_team_member_link.dnd_team_member_modal_link{:href => ""}
            %span.dnd_team_member_name VO MINH TRONG
            %span.dnd_team_member_position Project Manager

    .dnd_container
      .dnd_column_dd_span3.dnd-animo{"data-animation" => "fadeInLeft", "data-delay" => "1400", "data-duration" => "1000", :style => "visibility: visible;"}
        .dnd_team_member
          .dnd_overlayed
            %img{:alt => "ANDREA SMITH", :src => "/assets/avatar/a9.png"}/
            .dnd_overlay
          %a.dnd_team_member_link.dnd_team_member_modal_link{:href => ""}
            %span.dnd_team_member_name NGUYEN PHUOC SANG
            %span.dnd_team_member_position App Development Leader

      .dnd_column_dd_span3.dnd-animo{"data-animation" => "fadeInLeft", "data-delay" => "1400", "data-duration" => "1000", :style => "visibility: visible;"}
        .dnd_team_member
          .dnd_overlayed
            %img{:alt => "ANDREA SMITH", :src => "/assets/avatar/a5.png"}/
            .dnd_overlay
          %a.dnd_team_member_link.dnd_team_member_modal_link{:href => ""}
            %span.dnd_team_member_name VO HOAI AN
            %span.dnd_team_member_position Web Development Leader

      .dnd_column_dd_span3.dnd-animo{"data-animation" => "fadeInLeft", "data-delay" => "1400", "data-duration" => "1000", :style => "visibility: visible;"}
        .dnd_team_member
          .dnd_overlayed
            %img{:alt => "ANDREA SMITH", :src => "/assets/avatar/a4.png"}/
            .dnd_overlay
          %a.dnd_team_member_link.dnd_team_member_modal_link{:href => ""}
            %span.dnd_team_member_name LE TRONG PHAT
            %span.dnd_team_member_position Quality Assurance

      .dnd_column_dd_span3.dnd-animo{"data-animation" => "fadeInLeft", "data-delay" => "1400", "data-duration" => "1000", :style => "visibility: visible;"}
        .dnd_team_member
          .dnd_overlayed
            %img{:alt => "ANDREA SMITH", :src => "/assets/avatar/a8.png"}/
            .dnd_overlay
          %a.dnd_team_member_link.dnd_team_member_modal_link{:href => ""}
            %span.dnd_team_member_name TRAN HOANG HUYNH
            %span.dnd_team_member_position App Development Developer

    .dnd_container
      .dnd_column_dd_span3.dnd-animo{"data-animation" => "fadeInLeft", "data-delay" => "1400", "data-duration" => "1000", :style => "visibility: visible;"}
        .dnd_team_member
          .dnd_overlayed
            %img{:alt => "ANDREA SMITH", :src => "/assets/avatar/a7.jpg"}/
            .dnd_overlay
          %a.dnd_team_member_link.dnd_team_member_modal_link{:href => ""}
            %span.dnd_team_member_name NGUYEN NGOC HUY
            %span.dnd_team_member_position Ruby on Rails Developer



%section.dnd_section_dd.aligncenter.no_padding.darken.dnd-parallax{"data-background_image" => "/assets/Ss2c5MVASdGkVHOwG6n9_Imogene-Pass.jpg", "data-parallax" => "0.6", :style => "background-image: url(/assets/Ss2c5MVASdGkVHOwG6n9_Imogene-Pass.jpg); background-position: 50% 636px;"}
  .dnd_section_content
    .dnd_container
      .dnd_column_dd_span12.dnd-animo{"data-animation" => "fadeIn", "data-delay" => "200", "data-duration" => "1000", :style => "visibility: visible;"}
        %span.clear{:style => "height:50px;display:block;"}
        %blockquote.dnd_blockquote.dnd_blockquote_wide.white_text
          %p.quotation_mark ビジョン
          %p
            “ビジョンとは「不可能に思えても、長期間かかっても、実現したい総合的な到達点の目安である」という話があります。 キウイソフトでは一歩一歩お客様を理解して信頼を作り、ビジョンを実現していきます。”
            / %small WINSTON CHURCHILL
        %span.clear{:style => "height:50px;display:block;"}

%section.dnd_section_dd.big_header.section_body_fullwidth.section_with_header#project{:style => ""}
  %header
    .dnd_container
      %h3 OUR PROJECTS
  .dnd_section_content
    .dnd_container
      .dnd_column_dd_span12
        %ul.portfolio_filter.option-set.clearfix{"data-option-key" => "filter"}
          %li
            %a.portfolio_filter_button.selected{"data-option-value" => "*", :href => "/?page_id=1872#filter_552358443b85c"} All
          %li
            %a.portfolio_filter_button{"data-option-value" => ".illustrations", :href => "/?page_id=1872#filter_552358443b85c"} Illustrations
          %li
            %a.portfolio_filter_button{"data-option-value" => ".uiux", :href => "/?page_id=1872#filter_552358443b85c"} UI/UX
          %li
            %a.portfolio_filter_button{"data-option-value" => ".identity", :href => "/?page_id=1872#filter_552358443b85c"} Identity
          %li
            %a.portfolio_filter_button{"data-option-value" => ".branding", :href => "/?page_id=1872#filter_552358443b85c"} Branding
        .ABdev_latest_portfolio{:style => "position: relative; height: 376px;"}
          .portfolio_front.portfolio_item.portfolio_item_4.illustrations.uiux{:style => "position: absolute; left: 0px; top: 0px;"}
            .overlayed
              %img.attachment-post-thumbnail.wp-post-image{:alt => "portfolio1", :height => "715", :src => "/assets/portfolio/p1.png", :width => "1200"}/
              .overlay
                .portfolio_icons_container
                  / %a.portfolio_icon.fancybox{"data-fancybox-group" => "portfolio", :href => "./assets/portfolio1.jpg"}
                  /   %i.ci_icon-search
                  / %a.portfolio_icon{:href => "/?portfolio=blissfull-peace"}
                  /   %i.ci_icon-linkalt
                %p.overlay_title Zemboo
          .portfolio_front.portfolio_item.portfolio_item_4.identity.uiux{:style => "position: absolute; left: 316px; top: 0px;"}
            .overlayed
              %img.attachment-post-thumbnail.wp-post-image{:alt => "portfolio7", :height => "715", :src => "./assets/portfolio/p2.png", :width => "1200"}/
              .overlay
                .portfolio_icons_container
                  / %a.portfolio_icon.fancybox{"data-fancybox-group" => "portfolio", :href => "./assets/portfolio7.jpg"}
                  /   %i.ci_icon-search
                  / %a.portfolio_icon{:href => "/?portfolio=mountain-paradise"}
                  /   %i.ci_icon-linkalt
                %p.overlay_title BodyAsrx
          .portfolio_front.portfolio_item.portfolio_item_4.identity.illustrations{:style => "position: absolute; left: 948px; top: 0px;"}
            .overlayed
              %img.attachment-post-thumbnail.wp-post-image{:alt => "portfolio12", :height => "715", :src => "./assets/portfolio/p4.png", :width => "1200"}/
              .overlay
                .portfolio_icons_container
                  / %a.portfolio_icon.fancybox{"data-fancybox-group" => "portfolio", :href => "./assets/portfolio12.jpg"}
                  /   %i.ci_icon-search
                  / %a.portfolio_icon{:href => "/?portfolio=lake-shore"}
                  /   %i.ci_icon-linkalt
                %p.overlay_title Digimarcon
                / %p.portfolio_item_tags
                /   Identity, Illustrations
          .portfolio_front.portfolio_item.portfolio_item_4.branding.illustrations{:style => "position: absolute; left: 0px; top: 188px;"}
            .overlayed
              %img.attachment-post-thumbnail.wp-post-image{:alt => "portfolio11", :height => "715", :src => "./assets/portfolio/p5.png", :width => "1200"}/
              .overlay
                .portfolio_icons_container
                  / %a.portfolio_icon.fancybox{"data-fancybox-group" => "portfolio", :href => "./assets/portfolio11.jpg"}
                  /   %i.ci_icon-search
                  / %a.portfolio_icon{:href => "/?portfolio=morning-mist"}
                  /   %i.ci_icon-linkalt
                %p.overlay_title JinjiPlus
                / %p.portfolio_item_tags
                /   Branding, Illustrations
          .portfolio_front.portfolio_item.portfolio_item_4.branding.identity{:style => "position: absolute; left: 316px; top: 188px;"}
            .overlayed
              %img.attachment-post-thumbnail.wp-post-image{:alt => "portfolio10", :height => "715", :src => "/assets/portfolio/p6.png", :width => "1200"}/
              .overlay
                .portfolio_icons_container
                  / %a.portfolio_icon.fancybox{"data-fancybox-group" => "portfolio", :href => "./assets/portfolio10.jpg"}
                  /   %i.ci_icon-search
                  / %a.portfolio_icon{:href => "/?portfolio=peaceful-waterfall"}
                  /   %i.ci_icon-linkalt
                %p.overlay_title ThuDucVSchool
                %p.portfolio_item_tags
                  Branding, Identity
          .portfolio_front.portfolio_item.portfolio_item_4.identity.illustrations{:style => "position: absolute; left: 632px; top: 0px;"}
            .overlayed
              %img.attachment-post-thumbnail.wp-post-image{:alt => "portfolio4", :height => "715", :src => "./assets/portfolio/p3.png", :width => "1200"}/
              .overlay
                .portfolio_icons_container
                  / %a.portfolio_icon.fancybox{"data-fancybox-group" => "portfolio", :href => "./assets/portfolio4.jpg"}
                  /   %i.ci_icon-search
                  / %a.portfolio_icon{:href => "/?portfolio=sky-idyll"}
                  /   %i.ci_icon-linkalt
                %p.overlay_title BodyAsrx
                / %p.portfolio_item_tags
                /   Identity, Illustrations
          .portfolio_front.portfolio_item.portfolio_item_4.branding{:style => "position: absolute; left: 632px; top: 188px;"}
            .overlayed
              %img.attachment-post-thumbnail.wp-post-image{:alt => "portfolio_image_2v2", :height => "715", :src => "./assets/portfolio/p7.png", :width => "1200"}/
              .overlay
                .portfolio_icons_container
                  / %a.portfolio_icon.fancybox{"data-fancybox-group" => "portfolio", :href => "./assets/portfolio_image_2v2.jpg"}
                  /   %i.ci_icon-search
                  / %a.portfolio_icon{:href => "/?portfolio=my-dream-house"}
                  /   %i.ci_icon-linkalt
                %p.overlay_title Digimarcon
                / %p.portfolio_item_tags
                /   Branding
          .portfolio_front.portfolio_item.portfolio_item_4.illustrations.uiux{:style => "position: absolute; left: 948px; top: 188px;"}
            .overlayed
              %img.attachment-post-thumbnail.wp-post-image{:alt => "portfolio_image", :height => "715", :src => "./assets/portfolio/p8.png", :width => "1200"}/
              .overlay
                .portfolio_icons_container
                  / %a.portfolio_icon.fancybox{"data-fancybox-group" => "portfolio", :href => "./assets/portfolio_image.jpg"}
                  /   %i.ci_icon-search
                  / %a.portfolio_icon{:href => "/?portfolio=private-island"}
                  /   %i.ci_icon-linkalt
                %p.overlay_title SearchExperiences
                / %p.portfolio_item_tags
                /   Illustrations, UI/UX
        / .more_portfolio_link
        /   %a{:href => "/?page_id=1872#"} MORE WORKS
/ ## Client Section ##
%section.dnd_section_dd.aligncenter.big_header.section_with_header#clients{:style => "background-color:#fff;"}
  %header
    .dnd_container
      %h3 OUR CLIENTS
  .dnd_section_content
    .row-services.clearfix
      .col-sm-2.text-center.service-item
        %a{:href => "#"}
          %img{:src => "/assets/logo/ibm.jpg"}/
      .col-sm-2.text-center.service-item
        %a{:href => "#"}
          %img{:src => "/assets/logo/youtude.png"}/
      .col-sm-2.text-center.service-item
        %a{:href => "#"}
          %img{:src => "/assets/logo/livepass.png"}/
      .col-sm-2.text-center.service-item
        %a{:href => "#"}
          %img{:src => "/assets/logo/jal.png"}/
      .col-sm-2.text-center.service-item
        %a{:href => "#"}
          %img{:src => "/assets/logo/seeplain.jpg"}/
      .col-sm-2.text-center.service-item
        %a{:href => "#"}
          %img{:src => "/assets/logo/daybreak.png"}/

/ ## Contact Section ##
%section.dnd_section_dd.onepage_contact.dnd-parallax#contact{"data-background_image" => "/assets/parallax5.jpg", "data-parallax" => "0.4", :style => "background-image: url(/assets/parallax5.jpg); background-position: 50% 633px;"}
  .dnd_section_content
    .dnd_container
      .dnd_column_dd_span8.padding_right20.dnd-animo{"data-animation" => "fadeInLeft", "data-delay" => "200", "data-duration" => "1000", :style => "visibility: visible;"}
        #wpcf7-f1897-p1872-o1.wpcf7{:dir => "ltr", :lang => "en-US"}
          .screen-reader-response
          %form.wpcf7-form{:action => "/?page_id=1872#wpcf7-f1897-p1872-o1", :method => "post", :name => "", :novalidate => "novalidate"}
            %div{:style => "display: none;"}
              %input{:name => "_wpcf7", :type => "hidden", :value => "1897"}/
              %input{:name => "_wpcf7_version", :type => "hidden", :value => "4.0.3"}/
              %input{:name => "_wpcf7_locale", :type => "hidden", :value => "en_US"}/
              %input{:name => "_wpcf7_unit_tag", :type => "hidden", :value => "wpcf7-f1897-p1872-o1"}/
              %input{:name => "_wpnonce", :type => "hidden", :value => "734fffcade"}/
            .row
              .span6
                %span.wpcf7-form-control-wrap.your-name
                  %input.wpcf7-form-control.wpcf7-text.wpcf7-validates-as-required{"aria-invalid" => "false", "aria-required" => "true", :name => "your-name", :placeholder => "Name", :size => "40", :type => "text", :value => ""}/
              .span6
                %span.wpcf7-form-control-wrap.your-email
                  %input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-required.wpcf7-validates-as-email{"aria-invalid" => "false", "aria-required" => "true", :name => "your-email", :placeholder => "E-mail", :size => "40", :type => "email", :value => ""}/
            .row
              %span.wpcf7-form-control-wrap.your-message
                %textarea.wpcf7-form-control.wpcf7-textarea{"aria-invalid" => "false", :cols => "40", :name => "your-message", :placeholder => "Message", :rows => "10"}
              %br/
              %input.wpcf7-form-control.wpcf7-submit{:type => "submit", :value => "SEND"}/
              %img.ajax-loader{:alt => "Sending ...", :src => "./assets/ajax-loader.gif", :style => "visibility: hidden;"}/
            .wpcf7-response-output.wpcf7-display-none
      .dnd_column_dd_span4.color_white.dnd-animo{"data-animation" => "fadeInRight", "data-delay" => "200", "data-duration" => "1000", :style => "visibility: visible;"}
        %h6
          %span GET IN TOUCH WITH US
        .dnd_service_box.dnd_service_box_round_text_aside_middle{:style => " "}
          .dnd_service_box_header
            .dnd_icon_boxed{:style => ""}
              .fa.fa-home
          %p Office: 14-08B 14floor, Vincom Center, 72 Le Thanh Ton St., District 1, HCMC

          %p HCM Software Development Center: 31/6 Tran Dinh Xu St., District 1, HCMC

          %p HN Software Development Center: 21 Vu Pham Ham, Cau Giay District, Hanoi
        .dnd_service_box.dnd_service_box_round_text_aside_middle{:style => " "}
          .dnd_service_box_header
            .dnd_icon_boxed{:style => ""}
              .fa.fa-envelope-o
          %p
            %a{:href => "mailto:sales@kiwisoft.vn"} sales@kiwisoft.vn

        .dnd_service_box.dnd_service_box_round_text_aside_middle{:style => " "}
          .dnd_service_box_header
            .dnd_icon_boxed{:style => ""}
              .fa.fa-phone
          %p +84 862 690 690 (or) +84 90688 2386
          %p Fax: +84 862 688 188

/ Map
%section.dnd_section_dd.no_padding.section_body_fullwidth{:style => ""}
  .dnd_section_content
    .dnd_container
      .dnd_column_dd_span12
        #dnd_google_map_1.dnd_google_map

/ Footer
%footer#ABdev_main_footer
  #footer_onepage_container
    .container
      .footer_onepage_copyright
        © 2015 KiwiSoft - Software Development Center.
