/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require bootstrap_and_overrides
 *= require_self
 */
/*section{background: #f5f6f8;}*/

.transparent{
  background: rgba(255, 255, 255, 0.9) !important;
}

#ABdev_main_header.transparent nav > ul > li a:hover{
  text-decoration: none;
}

header#ABdev_main_header {
  position: fixed;
  width: 100%;
  top: 0;
}

.col-sm-3.text-center.home-service:hover {
  opacity: 0.8;
}

.portfolio_item_4{
  border: 11px solid white;
}

.dnd_team_member:hover .dnd_overlayed .dnd_overlay {
  background: #9bce41!important;
  opacity: 0;
}