#ABdev_main_slider{
  margin-top: 68px;
}

.annotation{margin-top: 10px;}
#it-exchange-store .it-exchange-products li{width:31.46%; margin-right:2.5%;}
#it-exchange-store .it-exchange-products li:nth-child(2n+1) {margin-right: 2.5%; clear:none;}
#it-exchange-store .it-exchange-products li:nth-child(3n) {margin-right: 0%;}
a{color: #9bce41;}
#ABdev_menu_toggle{color: #9bce41!important;}
:focus{outline-color: #9bce41;}
input:focus{outline-color: #9bce41!important;}
.text_red{color: #9bce41!important;}
::selection {color: #fff;background: #9bce41!important;}
#ABdev_main_header.transparent .search-icon.active i{color: #9bce41!important;}
button, input[type="submit"]{background: #9bce41; border:1px solid #9bce41;}
nav > ul > li:hover{color: #9bce41!important;}
nav > ul > li a:hover{color: #9bce41!important;}
nav > ul ul ul li > a:hover{color: #9bce41!important;}
nav > ul > .current-menu-item > a,nav > ul > .current-post-ancestor > a,nav > ul > .current-menu-ancestor > a{color: #9bce41!important;}
nav > ul ul > .current-menu-item > a{color: #9bce41!important;}
nav > ul .sf-mega-inner .description_menu_item a{color:#9bce41;}
#ABdev_main_header.transparent nav > ul > .current-menu-item > a,#ABdev_main_header.transparent nav > ul > .current-post-ancestor > a,#ABdev_main_header.transparent nav > ul > .current-menu-ancestor > a {color: #9bce41;}
#ABdev_main_header.transparent nav > ul > li:hover{color: #9bce41;}
#ABdev_main_header.transparent nav > ul > li a:hover{color: #9bce41;}
.search-toggle:hover a{color: #9bce41!important;}
.search-toggle a.active{color: #9bce41;}
.search-toggle.active{background: #9bce41;color: #fff;}
#search-container .widget_search i:hover{color: #9bce41;}
.widget_recent_comments .recentcomments .url:hover{color: #9bce41;}
.post_info{border-bottom: 1px solid #9bce41;}
.post_info:after{background: #9bce41;}
.post_content .post_main .post_author i{color: #9bce41;}
.post_content .post_main .post_author .post_tags a:hover{color: #9bce41;}
.post_content .post_main h2:hover a{color: #9bce41;}
#inner_post_pagination > span{color: #9bce41;}
#inner_post_pagination > a:hover{color: #9bce41;}
blockquote{border-left: 4px solid #9bce41;}
.woocommerce ul.products li.product a:hover h3, .woocommerce-page ul.products li.product a:hover h3{color: #9bce41;}
.post_info .post_main_date{color: #9bce41;}
.post_main .postmeta-above a:hover{color: #9bce41;}
.post_main .post_author .author_link a{color: #9bce41;}
.post_main .post_main_inner_wrapper h2:hover a{color: #9bce41;}
.post_main .post_main_inner_wrapper .post_author .post_author_inner i{color: #9bce41;}
.post_main .post_main_inner_wrapper .post_author .post_tags i{color: #9bce41;}
.post_main .post_main_inner_wrapper .post_padding .more-link_inside{color: #9bce41;}
.post-password-form input[type="submit"]{background: #9bce41; border: 1px solid #9bce41;}
.post-password-form input[type="submit"]:hover{color: #9bce41;}
.timeline_post h2:hover a{color: #9bce41;}
.timeline_postmeta .post_author > a{color: #9bce41;}
.timeline_postmeta .post_author .post_category a:hover{color: #9bce41;}
.timeline_post_left:after,.timeline_post_right:after{background: #9bce41;border: 2px solid #d1d1d1;}
#timeline_posts .post-readmore a.more-link{background: #fff;border: 1px solid #dddddd;color: #9bce41;}
#timeline_posts .post-readmore a.more-link:hover{background: #9bce41;color: #fff;}
.grid_post h2:hover a{color: #9bce41;}
.grid_postmeta a{color: #9bce41;}
.nivo-directionNav a.nivo-prevNav:hover i{  color: #9bce41;}
.nivo-directionNav a.nivo-nextNav:hover i{  color: #9bce41;}
.rpwe-time.published:before{color: #9bce41;}
.mini2_post .post_main_inner_wrapper h6 a:hover{color: #9bce41;}
.mini2_post .post_author a{color: #9bce41;}
#grid_posts .post-readmore a.more-link{   background: #fff;border: 1px solid #dddddd;color: #9bce41;}
#grid_posts .post-readmore a.more-link:hover{    background: #9bce41;color: #fff;}
.blog_category_index_right .post_date,.blog_category_index_left .post_date,.blog_category_index_none .post_date{background: #9bce41;}
.blog_category_index_right .post_main .post_main_inner_wrapper h2:hover a,.blog_category_index_left .post_main .post_main_inner_wrapper h2:hover a,.blog_category_index_none .post_main .post_main_inner_wrapper h2:hover a{color: #9bce41;}
.blog_category_index_right .post_main .post_main_inner_wrapper .post_category a:hover,.blog_category_index_left .post_main .post_main_inner_wrapper .post_category a:hover,.blog_category_index_none .post_main .post_main_inner_wrapper .post_category a:hover{color:#9bce41;}
.blog_category_index_right .post_main .post_main_inner_wrapper .post-readmore .more-link, .blog_category_index_left .post_main .post_main_inner_wrapper .post-readmore .more-link,.blog_category_index_none .post_main .post_main_inner_wrapper .post-readmore .more-link{    background: #fff;border: 1px solid #dddddd;color: #9bce41;}
.blog_category_index_right .post_main .post_main_inner_wrapper .post-readmore .more-link:hover, .blog_category_index_left .post_main .post_main_inner_wrapper .post-readmore .more-link:hover,.blog_category_index_none .post_main .post_main_inner_wrapper .post-readmore .more-link:hover{    background: #9bce41;color: #fff;}
.blog_category_index_right2 .post_date,.blog_category_index_left2 .post_date,.blog_category_index_none2 .post_date{background: #9bce41;}
.blog_category_index_right2 .post_main .post_main_inner_wrapper h2:hover a,.blog_category_index_left2 .post_main .post_main_inner_wrapper h2:hover a,.blog_category_index_none2 .post_main .post_main_inner_wrapper h2:hover a{color: #9bce41;}
.blog_category_index_right2 .post_main .post_main_inner_wrapper .post_category a:hover,.blog_category_index_left2 .post_main .post_main_inner_wrapper .post_category a:hover,.blog_category_index_none2 .post_main .post_main_inner_wrapper .post_category a:hover{color:#9bce41;}
.blog_category_index_right2 .post_main .post_main_inner_wrapper .post-readmore .more-link, .blog_category_index_left2 .post_main .post_main_inner_wrapper .post-readmore .more-link,.blog_category_index_none2 .post_main .post_main_inner_wrapper .post-readmore .more-link{    background: #fff;border: 1px solid #dddddd;color: #9bce41;}
.blog_category_index_right2 .post_main .post_main_inner_wrapper .post-readmore .more-link:hover, .blog_category_index_left2 .post_main .post_main_inner_wrapper .post-readmore .more-link:hover,.blog_category_index_none2 .post_main .post_main_inner_wrapper .post-readmore .more-link:hover{    background: #9bce41;color: #fff;}
.blog_category_index_right3 .post_info,.blog_category_index_left3 .post_info,.blog_category_index_none3 .post_info{border-bottom: 1px solid #9bce41;}
.blog_category_index_right3 .post_info:after,.blog_category_index_left3 .post_info:after,.blog_category_index_none3 .post_info:after{background: #9bce41;}
.blog_category_index_right3 .post_info .post_main_date,.blog_category_index_left3 .post_info .post_main_date,.blog_category_index_none3 .post_info .post_main_date{color: #9bce41;}
.blog_category_index_right3 .post_main .post_main_inner_wrapper h2:hover a,.blog_category_index_left3 .post_main .post_main_inner_wrapper h2:hover a,.blog_category_index_none3 .post_main .post_main_inner_wrapper h2:hover a{color: #9bce41;}
.blog_category_index_right3 .post_main .post_main_inner_wrapper .post_author .post_author_inner i,.blog_category_index_left3 .post_main .post_main_inner_wrapper .post_author .post_author_inner i,.blog_category_index_none3 .post_main .post_main_inner_wrapper .post_author .post_author_inner i{color: #9bce41;}
.blog_category_index_right3 .post_main .post_main_inner_wrapper .post_author .post_tags i,.blog_category_index_left3 .post_main .post_main_inner_wrapper .post_author .post_tags i,.blog_category_index_none3 .post_main .post_main_inner_wrapper .post_author .post_tags i{color: #9bce41;}
.blog_category_index_right3 .post_main .post_main_inner_wrapper .post_padding .more-link_inside, .blog_category_index_left3 .post_main .post_main_inner_wrapper .post_padding .more-link_inside,.blog_category_index_none3 .post_main .post_main_inner_wrapper .post_padding .more-link_inside{color: #9bce41;}
.blog_category_index_right_mini .post_type,.blog_category_index_left_mini .post_type,.blog_category_index_none_mini .post_type{background: #9bce41;}
.blog_category_index_right_mini .post_main h2 a:hover,.blog_category_index_left_mini .post_main h2 a:hover,.blog_category_index_none_mini .post_main h2 a:hover{color: #9bce41;}
.blog_category_index_right_mini .post_main .post_main_inner_wrapper .post-readmore .more-link, .blog_category_index_left_mini .post_main .post_main_inner_wrapper .post-readmore .more-link,.blog_category_index_none_mini .post_main .post_main_inner_wrapper .post-readmore .more-link{    background: #fff;border: 1px solid #dddddd;color: #9bce41;}
.blog_category_index_right_mini .post_main .post_main_inner_wrapper .post-readmore .more-link:hover, .blog_category_index_left_mini .post_main .post_main_inner_wrapper .post-readmore .more-link:hover,.blog_category_index_none_mini .post_main .post_main_inner_wrapper .post-readmore .more-link:hover{    background: #9bce41;color: #fff;}
.mini2_post .post_type{background: #9bce41;}
.mini2_post .post_category a:hover{color: #9bce41;}
.mini2_post .post_main_inner_wrapper h2 a:hover{color: #9bce41;}
.blog_category_index_dual .post_main .post_main_inner_wrapper h2:hover a{color: #9bce41;}
.blog_category_index_dual .post_main .post_main_inner_wrapper .post-readmore .more-link {    background: #fff;border: 1px solid #dddddd;color: #9bce41;}
.blog_category_index_dual .post_main .post_main_inner_wrapper .post-readmore .more-link:hover {background: #9bce41;color: #fff;}
#related_item_meta a:hover{color: #9bce41;}
.related_article:hover .overlayed .overlay{background:rgba(155,206,65,0.9);}
.previous_post:hover a,.next_post:hover a{color: #9bce41;}
#main_logo{width: 150px;}
.previous_post:hover i,.next_post:hover i{color: #9bce41;}
.comment .reply,.comment .edit-link,.comment .reply a,.comment .edit-link a{color:#9bce41;}
#respond #comment-submit{background: #9bce41;}
#respond #comment-submit:hover{background: #fff;color: #9bce41;border: 1px solid #9bce41;}
#respond .comment-form textarea[id="comment"]:focus{outline-color: #9bce41!important;}
#blog_pagination .page-numbers:hover{color: #9bce41;}
#blog_pagination .page-numbers.current{color: #9bce41;}
#inner_post_pagination > a:hover{color: #9bce41;}
aside .widget a:hover{color: #9bce41;}
.widget_search i{color: #9bce41;}
.widget_pages li:after, .widget_recent_entries li:after, .widget_archive li:after, .widget_nav_menu li:after, .widget_meta li:after, .widget_categories li:after{color: #9bce41;}
.widget_search input:focus{outline-color: #9bce41!important;}
.widget_categories li:after{color: #9bce41;}
.tagcloud a:hover{background: #9bce41;color: #fff!important;}
.sidebar .ab-tweet-item .ab-tweet-date{color: #9bce41;}
.rpwe-title a:hover{color: #9bce41!important;}
.sidebar .ab-tweet-item .ab-tweet-username{color: #9bce41;}
.sidebar .ab-tweet-navigation a{color: #9bce41;}
.ab-tweet-username{color: #9bce41;}
.ab-tweet-text a{color: #9bce41;}
.ab-tweet-date{color: #9bce41;}
.ab-tweet-prev:hover:after, .ab-tweet-next:hover:after{color: #9bce41;}
.more-link{color: #9bce41;}
.dnd_blockquote_wide .quotation_mark{color:#9bce41!important;}
.blog_category_index_right3 .post_main .post_main_inner_wrapper .post_author .post_tags a:hover,
.blog_category_index_left3 .post_main .post_main_inner_wrapper .post_author .post_tags a:hover,
.blog_category_index_none3 .post_main .post_main_inner_wrapper .post_author .post_tags a:hover{color:#9bce41;}
.blog_category_index_right_mini .post_main .post_main_inner_wrapper .post_category a:hover,
.blog_category_index_left_mini .post_main .post_main_inner_wrapper .post_category a:hover,
.blog_category_index_none_mini .post_main .post_main_inner_wrapper .post_category a:hover{color:#9bce41;}
.blog_category_index_dual .post_main .post_category a:hover{color:#9bce41;}
.ui-state-hover .ui-icon-triangle-1-s{background:#fff;}
.dnd_blockquote_style3 a{color:#9bce41;}
.dnd_blockquote_style3 p > small a:before{background: #9bce41;}
.dnd_blockquote_style3 a:hover{color:#9bce41;}
.dnd_blockquote_style2 p > small a:before{background: #9bce41;}
.dnd_blockquote_style2 a{color:#9bce41;}
.dnd_blockquote_style2 a:hover{color:#9bce41;}
.dnd_blockquote_style1 p > small a:before{background: #9bce41;}
.dnd_blockquote_style1 a{color:#9bce41;}
.dnd_blockquote_style1 a:hover{color:#9bce41;}
.dnd_service_box_unboxed_round:hover {border-bottom: 1px solid #9bce41;}
#tag_cloud-3 .tagcloud a:hover{border: 1px solid #9bce41; background: #9bce41;}
.widget_categories li:before{color: #9bce41;}
.carousel_navigation a:hover{color:#9bce41; border: 1px solid #9bce41;}
.portfolio_item_meta h2 a:hover{color: #9bce41;}
.portfolio_item_view_link a{background: #9bce41;color: #fff;}
.portfolio_item_view_link a:hover{background: #fff;color: #9bce41;border: 1px solid #9bce41;}
.portfolio_filter li a.selected, .portfolio_filter li:hover, .portfolio_filter li:hover a{color: #9bce41;}
#single_portfolio_pagination .prev:hover i,#single_portfolio_pagination.single_portfolio_pagination_bottom .prev:hover i{color: #9bce41;}
#single_portfolio_pagination .list:hover i,#single_portfolio_pagination.single_portfolio_pagination_bottom .list:hover i{color: #9bce41;}
#single_portfolio_pagination .next:hover i,#single_portfolio_pagination.single_portfolio_pagination_bottom .next:hover i{color: #9bce41;}
#single_portfolio_pagination i,#single_portfolio_pagination.single_portfolio_pagination_bottom i{color: #9bce41;}
.portfolio_navigation a:hover{color: #9bce41;border: 1px solid #9bce41;}
.portfolio_2columns_description .portfolio_item_meta_detail_description h2 a:hover{color: #9bce41;}
.portfolio_3columns_description .portfolio_item_meta_detail_description h2 a:hover{color: #9bce41;}
.portfolio_4columns_description .portfolio_item_meta_detail_description h2 a:hover{color: #9bce41;}
#portfolio_list_fullwidth .post-readmore.portfolio-readmore a.more-link{background: -webkit-linear-gradient(#fff, #f5f6f8); background: -o-linear-gradient(#fff, #f5f6f8);         background: -moz-linear-gradient(#fff, #f5f6f8);        background: linear-gradient(#fff, #f5f6f8); border: 1px solid #f5f6f8;color: #9bce41;}
#portfolio_single_column .portfolio_item_meta h2 a:hover{color: #9bce41;}
#portfolio_list_fullwidth .post-readmore.portfolio-readmore a.more-link:hover{background: #9bce41;border: 1px solid #9bce41;color: #fff;}
.sidebar .ab-tweet-text a{color:#9bce41;}
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,.woocommerce-page .widget_price_filter .ui-slider .ui-slider-range{background: #9bce41;}
.woocommerce a.button:hover,.woocommerce-page a.button:hover{background: #9bce41;color: #fff !important;}
.woocommerce button.button.alt:hover,.woocommerce-page button.button.alt:hover{background: #9bce41;color: #fff !important;}
.woocommerce div.product .woocommerce-tabs ul.tabs li:hover, .woocommerce #content div.product .woocommerce-tabs ul.tabs li:hover, .woocommerce-page div.product .woocommerce-tabs ul.tabs li:hover, .woocommerce-page #content div.product .woocommerce-tabs ul.tabs li:hover{background: #9bce41;color: #fff;}
.woocommerce #review_form #respond .form-submit input:hover, .woocommerce-page #review_form #respond .form-submit input:hover{background: #9bce41;color: #fff!important;}
.woocommerce .star-rating, .woocommerce-page .star-rating{color: #9bce41;}
.woocommerce .woocommerce-message:before, .woocommerce-page .woocommerce-message:before{ color: #9bce41;}
.woocommerce table.cart a.remove, .woocommerce #content table.cart a.remove, .woocommerce-page table.cart a.remove, .woocommerce-page #content table.cart a.remove{ color: #9bce41;}
.woocommerce table.cart a.remove:hover, .woocommerce #content table.cart a.remove:hover, .woocommerce-page table.cart a.remove:hover, .woocommerce-page #content table.cart a.remove:hover{ background: #9bce41;}
.woocommerce-cart .wc-proceed-to-checkout a.checkout-button:hover{background: transparent!important;}
.woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page #content input.button:hover{background: #9bce41;color: #fff !important;}
.woocommerce a.added_to_cart:hover, .woocommerce-page a.added_to_cart:hover{background: #9bce41;color: #fff !important;}
.woocommerce a.button.alt, .woocommerce button.button.alt,.woocommerce input.button.alt, .woocommerce #respond input#submit.alt,.woocommerce #content input.button.alt, .woocommerce-page a.button.alt,.woocommerce-page button.button.alt, .woocommerce-page input.button.alt,.woocommerce-page #respond input#submit.alt, .woocommerce-page #content input.button.alt{background: #9bce41;border: 1px solid #9bce41;color: #fff!important;}
.woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover,.woocommerce input.button.alt:hover, .woocommerce #respond input#submit.alt:hover,.woocommerce #content input.button.alt:hover, .woocommerce-page a.button.alt:hover,.woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover,.woocommerce-page #respond input#submit.alt:hover, .woocommerce-page #content input.button.alt:hover{border: 1px solid #9bce41;color: #9bce41!important;background: #fff;}
.woocommerce .cart-collaterals .shipping_calculator h2 a,.woocommerce-page .cart-collaterals .shipping_calculator h2 a{background: #9bce41;border: 1px solid #ddd;color: #fff !important;}
.woocommerce .woocommerce-error:before, .woocommerce-page .woocommerce-error:before{color: #9bce41;}
.woocommerce .woocommerce-info:before, .woocommerce-page .woocommerce-info:before{color: #9bce41;}
.woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit.alt{background-color: #9bce41!important;}
.woocommerce ul.products li.product.featured:before, .woocommerce-page ul.products li.product.featured:before{color: #9bce41;}
.woocommerce div.product span.price, .woocommerce div.product p.price, .woocommerce #content div.product span.price, .woocommerce #content div.product p.price, .woocommerce-page div.product span.price, woocommerce-page div.product p.price, .woocommerce-page #content div.product span.price, .woocommerce-page #content div.product p.price{color:#9bce41!important;}
.woocommerce ul.product_list_widget li ins span, .woocommerce-page ul.product_list_widget li ins span{color:#9bce41;}
.ABt_testimonials_wrapper.picture_middle .ABt_pagination a.selected,.ABt_testimonials_wrapper_static.picture_middle .ABt_pagination a.selected{background: #9bce41;}
.ABt_testimonials_wrapper.picture_middle .ABt_pagination a:hover,.ABt_testimonials_wrapper_static.picture_middle .ABt_pagination a:hover{background: #9bce41;}
.ABt_testimonials_wrapper.picture_bottom .ABt_pagination a.selected,.ABt_testimonials_wrapper_static.picture_bottom .ABt_pagination a.selected{background: #9bce41;}
.ABt_testimonials_wrapper.picture_bottom .ABt_pagination a:hover,.ABt_testimonials_wrapper_static.picture_bottom .ABt_pagination a:hover{background: #9bce41;}
.ABt_testimonials_wrapper.picture_top .ABt_pagination a.selected,.ABt_testimonials_wrapper_static.picture_top .ABt_pagination a.selected{background: #9bce41;}
.ABt_testimonials_wrapper.picture_top .ABt_pagination a:hover,.ABt_testimonials_wrapper_static.picture_top .ABt_pagination a:hover{background: #9bce41;}
.ABt_testimonials_wrapper.testimonials_big .ABt_pagination a.selected,.ABt_testimonials_wrapper_static.testimonials_big .ABt_pagination a.selected{background: #9bce41;}
.ABt_testimonials_wrapper.testimonials_big.ABt_pagination a:hover,.ABt_testimonials_wrapper_static.testimonials_big .ABt_pagination a:hover{background: #9bce41;}
#footer_onepage_container #back_to_top:hover i{color: #9bce41;}
#footer_landing_container #back_to_top:hover i{color: #9bce41;}
#back_to_top:hover i{color: #9bce41;}
#footer_copyright #footer_menu ul li a:hover{color: #9bce41;}
.dnd_section_dd header h3{color: #222222;border-left: solid 1px #9bce41;border-right: solid 1px #9bce41;}
.dnd_section_dd header h3:before{border-bottom: 1px solid #9bce41;}
.dnd_section_dd header h3:after{border-bottom: 1px solid #9bce41;}
.dnd_team_member .dnd_team_member_name:hover{color: #9bce41;}
.dnd_posts_shortcode.dnd_posts_shortcode-1 .dnd_latest_news_shortcode_content h5:hover a,.dnd_posts_shortcode.dnd_posts_shortcode-2 .dnd_latest_news_shortcode_content h5:hover a{color: #9bce41;}
.dnd_search .submit i:hover{color: #9bce41;}
.dnd_service_box_round_text_aside_middle a:hover h3{color: #9bce41!important;}
.service_box_process_full:after{ background: #9bce41;}
.service_box_process_full:first-child:after{ background: #9bce41;}
.dnd_dropcap_style2{background: #9bce41;color: #fff;}
.dnd_service_box_unboxed_square:hover{border-bottom: 1px solid #9bce41;}
.dnd_service_box_unboxed_square:hover a.dnd_icon_boxed{background: #9bce41!important;}
.dnd_service_box_unboxed_square a h3:hover{color: #9bce41;}
.dnd_service_box_boxed_inside:hover .dnd_service_box_header{background: #9bce41!important;}
.dnd_service_box_boxed:hover a.dnd_icon_boxed{background: #9bce41!important;}
.dnd_service_box_boxed a h3:hover{color: #9bce41;}
.dnd_service_box_round_text_aside a h3:hover{color: #9bce41;}
.dnd_service_box_round_text_aside:hover a.dnd_icon_boxed{background: #9bce41!important;}
.dnd_service_box_round_text_aside_middle:hover a.dnd_icon_boxed{background: #9bce41!important;}
.dnd_blockquote_wide p small:after{background: #9bce41!important;}
.dnd_blockquote_wide p small{color:#9bce41!important;}
.dnd-accordion .ui-accordion-header-active{background: #9bce41!important;}
.ui-accordion-header.ui-state-hover{background: #9bce41!important;}
.dnd_team_member:hover .dnd_overlayed .dnd_overlay{background: #9bce41!important;}
.portfolio_item:hover .overlayed .overlay{background:rgba(155,206,65,0.9);}
.dnd_blockquote_style1{border-left-color: #9bce41;}
.dnd_blockquote small{color:#9bce41;}
.dnd_blockquote_style2:before{color:#9bce41;}
.dnd_blockquote_style2:after{color:#9bce41;}
.dnd_blockquote_style3{border-left-color: #9bce41;}
.dnd_blockquote_style4{background:#9bce41;}
.dnd_blockquote_style4 small{color: #fff;}
.dnd-callout_box_style_5 .dnd-icon-button i:hover{color:#9bce41;}
.countdown{background:#9bce41;}
.dnd-tabs .ui-tabs-nav li.ui-tabs-active a{color:#9bce41;}
.dnd-tabs.dnd-tabs-position-top.dnd-tabs-boxed .ui-tabs-nav li:hover a{background:#9bce41;}
.dnd-tabs-position-left.dnd-tabs-boxed .ui-tabs-nav li:hover a{background:#9bce41;}
.dnd-tabs.dnd-tabs-position-top.dnd-tabs-unboxed .ui-tabs-nav li:hover a{background:#9bce41;}
.dnd-tabs.dnd-tabs-position-top.dnd-tabs-unboxed .ui-tabs-nav li:first-child:hover a{background:#9bce41;}
.dnd-tabs-position-left.dnd-tabs-unboxed .ui-tabs-nav li:first-child:hover a{background:#9bce41;}
.dnd-tabs-position-left.dnd-tabs-unboxed .ui-tabs-nav li:hover a{background:#9bce41;}
.dnd-tabs.dnd-tabs-position-bottom.dnd-tabs-boxed .ui-tabs-nav li:hover a{background:#9bce41;}
.dnd-tabs.dnd-tabs-position-bottom .ui-tabs-nav li.ui-tabs-active a{color:#9bce41;}
.dnd-tabs.dnd-tabs-position-bottom.dnd-tabs-unboxed .ui-tabs-nav li:hover a{background:#9bce41;}
.dnd-tabs-position-right.dnd-tabs-boxed .ui-tabs-nav li:hover a{background:#9bce41;}
.dnd-tabs-position-right.dnd-tabs-unboxed .ui-tabs-nav li:first-child:hover a{background:#9bce41;}
.dnd-tabs.dnd-tabs-position-top.dnd-tabs-unboxed .ui-tabs-nav li:last-child:hover a{background:#9bce41;}
.dnd-table.dnd-table-alternative th{background:#9bce41;}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle, .woocommerce-page .widget_price_filter .ui-slider .ui-slider-handle{background:#9bce41;}
.woocommerce span.onsale, woocommerce-page span.onsale{background: #9bce41!important;}
.woocommerce span.featured, .woocommerce-page span.featured{color:#9bce41;}
.woocommerce nav.woocommerce-pagination ul li .page-numbers:hover, .woocommerce-page nav.woocommerce-pagination ul li .page-numbers:hover{color: #9bce41!important;}
.woocommerce ul.products li.product .price, .woocommerce-page ul.products li.product .price{color:#9bce41!important;}
.woocommerce .gridlist-toggle a.active, .woocommerce-page .gridlist-toggle a.active{color:#9bce41!important;}
.woocommerce .gridlist-toggle a:hover, .woocommerce-page .gridlist-toggle a:hover{color:#9bce41!important;}
.woocommerce nav.woocommerce-pagination ul li span.current, .woocommerce-page nav.woocommerce-pagination ul li span.current{color:#9bce41;}
.dnd_progress_bar_default .dnd_meter .dnd_meter_percentage span{color:#9bce41;}
.dnd_progress_bar_thick .dnd_meter .dnd_meter_percentage span{color:#9bce41;}
.dnd_progress_bar_thin .dnd_meter .dnd_meter_percentage span{color:#9bce41;}
#it-exchange-store .it-exchange-base-price{color:#9bce41;}
#it-exchange-store .it-exchange-product-permalink:hover{background:#9bce41;}
#it-exchange-store .it-exchange-product-title a:hover{color:#9bce41;}
#it-exchange-product .it-exchange-product-price .it-exchange-base-price{color:#9bce41;}
.it-exchange-super-widget .two-actions .cart-action.view-cart a:hover, .it-exchange-super-widget .two-actions .cart-action.checkout a:hover{border:1px solid #9bce41;}
.it-exchange-super-widget .it-exchange-sw-product input.buy-now-button{background: #9bce41; border:1px solid #9bce41;}
.it-exchange-super-widget .it-exchange-sw-product input.buy-now-button:hover{background: #ddd;}
.it-exchange-super-widget .it-exchange-sw-product input.add-to-cart-button{background: #9bce41; border:1px solid #9bce41;}
.it-exchange-super-widget .it-exchange-sw-product input.add-to-cart-button:hover{background: #ddd;}
.it-exchange-super-widget .cart-action.add-coupon a.it-exchange-cancel-checkout.sw-cart-focus-coupon:hover, .it-exchange-super-widget .cart-action.update-quantity a.it-exchange-cancel-checkout.sw-cart-focus-quantity:hover {border:1px solid #9bce41;}
.woocommerce .yith-wcwl-add-button a, .woocommerce-page .yith-wcwl-add-button a{background: #9bce41; border:1px solid #9bce41;}
.woocommerce .yith-wcwl-add-button a:hover, .woocommerce-page .yith-wcwl-add-button a:hover{color: #9bce41;}